<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <div style="background-color: #180124; height: 100px">
        <h1 style="text-align:center; font-size:2.2em; color: white; padding: 25px;">Kwot'z </h1>
      </div>
      <div style="padding: 70px 20px 90px 20px;">
        <p>Bonjour <%= @email %>!</p>

        <p>Vous avez perdu vôtre mot de passe, ou voulez le modifier ? </p>

        <p>Cliquez sur le bouton pour en choisir un nouveau.</p>

        <% host_url = Rails.application.credentials.mailer[:front_url]%>
        <% reset_password_link = "#{host_url}new_password?reset_token=#{@token}" %>
        <%= link_to reset_password_link do %>
          <button class="new-password-button">
            Choisir un nouveau mot de passe
          </button>
        <% end %>
      </div>
      <footer style="height: 60px; background-color: transparent; text-align: center;">
        <p  style="text-muted">Copyright © Kwot'z 2022</p>
      </footer>
  </body>
</html>