<% host_url = Rails.application.credentials.mailer[:front_url]%>
<% reset_password_link = "#{@host_url}new_password?reset_token=#{@token}" %>
<%= link_to reset_password_link do %>
   <button class="new-password-button">
     Choose a new password
   </button>
<% end %>
